:root{
    --var-roxo: #561d6d;
    --var-laranja: #f9b880;
    --var-laranja-forte: #cf5d0c;
    @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,900&display=swap');
}

*{
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
}

header{
    width: 96%;
    height: 7vw;
    margin: 0 2%;
    align-items: center;
}

a{
    text-decoration: none;
}

img{
    animation: imgs-in 3s;
}

footer{
    width: 100%;
    height: 20vw;
    background-color: var(--var-roxo)
}

#logo{
    width: 30%;
    height: 5vw;
    margin-left: 0;
    font-size: 1.2vw;
    color: var(--var-roxo);
    align-items: center;
}
#logo img{
    height: 5vw;
    margin-right: 0.5vw;
}
#logo h1{
    margin-left: 0;
}

#menu{
    width: 60%;
    height: 7vw;
    margin-right: 0;
    font-size: 1vw;
    align-items: center;
}
#menu a{
    color: var(--var-laranja-forte);
    font-size: 1.5vw;
    margin: 0 0 0 5%;
}

#container{
    width: 96%;
    min-height: 50vw;
    margin: 3% 2%;
}


#contend-dir{
    width: 60%;
    /* height: 50vw; */
    margin: 0 0 0 0;
    display: grid;
    grid-template-rows: 25vw 30vw;
    grid-template-columns: 60% 39%;
    column-gap: 1%;
    grid-template-areas: 
        'eduFinan eduFinan'
        'primoRico licao-dinheiro';
}
#edu-finan{
    width: 100%;
    margin-left: 0;
    grid-area: eduFinan;
    align-items: center;
}
#edu-finan img{
    height: 22vw;
    position: relative;
}

#tako-banner{
    animation: takodachi-in 2s;
    margin-left: 2vw;
}

#tako-dindin{
    margin-left: 3vw;
    animation: dindin-in 2s;
}

#primo-rico{
    width: 100%;
    grid-area: primoRico;
    /* background-color: blue; */
}
#primo-rico img{
    width: 100%;
    border-radius: 1vw;
}

#yt-text h2{
    font-size: 2vw;
}
#yt-text h3{
    font-size: 1vw
}

#licao-dinheiro{
    position: relative;
}
#licao-dinheiro span{
    font-size: 1.5vw;
    font-weight: 500;
}

#insta-post{
    width: 21vw;
    border-radius: 2vw;
}

#insta-logo[data-opacity = '1']{
    width: 6vw;
    z-index: -1;
    position: absolute;
    left: 34%;
    top: 25%;
}
#insta-logo[data-opacity = '0']{
    display: none;
}

#contend-esq{
    width: 35%;
    height: 55vw;
}

#contend-esq h1{
    margin-bottom: 1vw;
    font-size: 3vw;
    color: var(--var-roxo)
}

#div-noticias{
    display: grid;
    /* grid-template-rows: 20vw 20vw 20vw; */
    grid-template-columns: 50% 50%;
    row-gap: 1vw;
}

.noticia{
    width: 96%;
    min-height: 20vw;
}
.noticia img{
    width: 100%;
    border-radius: 1vw;
    transition: all ease 500ms
}
.noticia img:hover{
    opacity: 0.5;
    box-shadow: 0 0 0 2px var(--var-roxo);
}

.noticia p{
    font-size: 1.5vw;
    font-weight: 500;
}
.noticia p:hover{
    color: var(--var-roxo);
}



.flex{
    display: flex;
}

.img-fade{
    transition: opacity ease 1s;
}

.img-fade:hover{
    opacity: 0.5;
}

@keyframes takodachi-in{
    0%{
        left: -10vw;
        opacity: 0;
    }

    100%{
        left: 0;
        opacity: 1;
    }
}

@keyframes dindin-in{
    0%{
        right: -10vw;
        opacity: 0;
    }

    100%{
        right: 0;
        opacity: 1;
    }

}

@keyframes imgs-in{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }

}