:root{
    --var-roxo: #561d6d;
    --var-laranja: #f9b880;
    --var-laranja-forte: #cf5d0c;
    @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,900&display=swap');
}

*{
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
}

header{
    width: 96%;
    height: 7vw;
    margin: 0 2%;
    align-items: center;
}

a{
    text-decoration: none;
}

img{
    animation: imgs-in 5s;
}

footer{
    width: 100%;
    height: 20vw;
    background-color: var(--var-roxo)
}

#logo{
    width: 30%;
    height: 5vw;
    margin-left: 0;
    font-size: 1.2vw;
    color: var(--var-roxo);
    align-items: center;
}
#logo img{
    height: 5vw;
    margin-right: 0.5vw;
}
#logo h1{
    margin-left: 0;
}

#menu{
    width: 50%;
    height: 7vw;
    margin-right: 0;
    font-size: 1vw;
    align-items: center;
}
#menu a{
    color: var(--var-laranja-forte);
    font-size: 1.5vw;
    margin-right: 0
}

#container{
    width: 96%;
    min-height: 50vw;
    margin: 3% 2%;
}

#banner{
    align-items: center;
}
#banner p{
    font-size: 3vw;
    font-weight: 600;
    color: var(--var-roxo)
}
#tako-no-dindin{
    width: 40vw;
}



.flex{
    display: flex;
}


@keyframes imgs-in{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }

}

