:root{
    --var-roxo: #561d6d;
    --var-laranja: #f9b880;
    --var-laranja-forte: #ff4700;
    @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,900&display=swap');
}

*{
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
}

header{
    width: 96%;
    height: 7vw;
    margin: 0 2%;
    align-items: center;
}

a{
    text-decoration: none;
}

img{
    animation: imgs-in 5s;
}

footer{
    width: 96%;
    min-height: 1.5vw;
    padding: 2vw 2%;
    font-size: 2vw;
    background-color: var(--var-roxo);
    color: white
}
footer a{
    color: white;
    text-decoration: underline;
}

#logo{
    width: 30%;
    height: 5vw;
    margin-left: 0;
    font-size: 1.2vw;
    color: var(--var-roxo);
    align-items: center;
}
#logo img{
    height: 5vw;
    margin-right: 0.5vw;
}
#logo h1{
    margin-left: 0;
}

#menu{
    width: 50%;
    height: 7vw;
    margin-right: 0;
    font-size: 1vw;
    align-items: center;
}
#menu a{
    color: var(--var-laranja-forte);
    font-size: 1.5vw;
    margin-right: 0
}

#container{
    width: 96%;
    min-height: 50vw;
    margin: 3% 2%;
}

#banner{
    width: 60%;
    align-items: center;
    margin-bottom: 2vw;
}


#banner p{
    font-size: 1.5vw;
    font-weight: 600;
    color: var(--var-roxo)
}
#banner h1{
    font-size: 3vw;
    margin-bottom: 1vw;
    color: var(--var-laranja-forte);
}
#tako-no-dindin{
    width: 20vw;
    animation: tako-direita 2s;
    position: relative;
}

#tako-si-dindin{
    width: 15vw;
    animation: tako-baixo 2s;
    position: relative;
}

#banner-dicas{
    width: 40%;
    align-items: center;
    padding: 0 4vw;
    margin-bottom: 2vw;
}
#banner-dicas h1{
    font-size: 3vw;
    color: var(--var-laranja-forte);
}
#banner-dicas p {
    font-size: 1.5vw;
    margin-bottom: 1vw;
    font-weight: 500;
    color: var(--var-roxo);
}

.dica{
    width: 50%;
    margin-bottom: 5vw;
    border-left: var(--var-roxo) solid 0.5vw;
    border-bottom: var(--var-roxo) solid 0.5vw;
    padding: 0 0 1vw 0.5vw;
}

.dica h2{
    font-size: 3vw;
    margin-bottom: 2vw;
    text-decoration: underline;
    color: var(--var-laranja-forte);
}
.dica p{
    font-size: 1.5vw;
    font-weight: 500;
    color: var(--var-roxo);
}


.flex{
    display: flex;
}

.aparecer-baixo{
    animation: tako-baixo 2s;
    position: relative;
}

@media (max-width: 720px){

    header{
        position: sticky;
        top: 0;
        z-index: 5;
        height: 10vw;
        background-color: white;
    }

    footer{
        width: 96%;
        min-height: 6vw;
        padding: 5vw 2%;
        font-size: 3vw;
        background-color: var(--var-roxo);
        color: white
    }

    #logo{
        width: 40%;
        height: 10vw;
        font-size: 1.8vw;
    }
    #logo img{
        height: 8vw;
    }

    #menu a{
        font-size: 2vw;
        font-weight: 500;
    }

    #banners{
        flex-direction: column;
    }

    #banner{
        width: 100%;
        align-items: center;
        margin-bottom: 8vw;
    }
    #banner p{
        font-size: 4vw;
        font-weight: 600;
        color: var(--var-roxo)
    }
    #banner h1{
        font-size: 7vw;
        margin-bottom: 1vw;
        color: var(--var-laranja-forte);
    }
    #tako-no-dindin{
        width: 40vw;
    }
    
    #banner-dicas{
        width: 92%;
        flex-direction: column;
        padding: 0;
        text-align: center;
        margin-bottom: 10vw;
    }
    #banner-dicas h1{
        font-size: 7vw;
        color: var(--var-laranja-forte);
    }
    #banner-dicas p {
        font-size: 4vw;
        text-align: center;
        margin-bottom: 1vw;
        font-weight: 500;
        color: var(--var-roxo);
    }

    #tako-si-dindin{
        width: 55vw;
    }

    .dica{
        width: 50%;
        min-height: 45vw;
        margin-bottom: 5vw;
        border-left: var(--var-roxo) solid 0.5vw;
        border-bottom: var(--var-roxo) solid 0.5vw;
        padding: 0 0 1vw 0.5vw;
    }

    .dica h2{
        font-size: 5vw;
        margin-bottom: 2vw;
        text-decoration: underline;
        color: var(--var-laranja-forte);
    }
    .dica p{
        font-size: 4vw;
        font-weight: 500;
        color: var(--var-roxo);
    }
}

@keyframes imgs-in{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }

}

@keyframes tako-direita{
    0%{
        right: -3vw;
        opacity: 0;
    }
    100%{
        right: 0;
        opacity: 1;
    }
}

@keyframes tako-baixo{
    0%{
        bottom: -20vw;
        opacity: 0;
    }
    100%{
        bottom: 0;
        opacity: 1;
    }
}


